// StartProject.js component styles, added 27.08.18 by Artem

.start-project-modal {
  .flex-container-column {
    width: 100%;
  }
}

.start-project-name {
  padding-top: 37px;
  padding-left: 32px;
  padding-bottom: 32px;
  margin: size(1) auto;

  p {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
  }

  input {
    padding-left: size(1);
    margin-left: 40px;
    background: var(--gray-100);
    border: 1px solid Transparent;
    border-radius: 4px;
    color: var(--gray);
    width: 320px;
    height: 40px;
  }

  input:hover, input:active, input:focus, input:focus-within {
    border: 1px solid #6EDBDB !important;
    box-sizing: border-box;
  }

}

.start-project-platform-select,
.start-project-kind-select {
  .project-description-tooltip{
    margin: 0 auto;
  }
  padding: 0 24px 0 24px;

  .platform, .kind {
    margin-left: 25%;
    font-style: normal;
    font-weight: bold;
    line-height: 3.3em;
    font-size: 13px;
    color: var(--black);
  }

  .platform {
    line-height: 5.3em;
  }

  .form-check-input {
    display: none;
  }

  label.btn.unselected {
    filter: grayscale(100%);
    background: none;
    border: 0 !important;
    box-sizing: border-box;
    box-shadow: none;
  }

}

.start-project-platform-select {
  label.btn {
    width: 100%;
    height: 77px;
    left: 332px;
    top: 209px;

    background: var(--white);
    border: 1px solid var(--color-cyan) !important;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 30px rgba(61, 204, 204, 0.2);
    border-radius: 8px;
  }

  .image-wrapper {
    img {
      width: 68px;
      height: 100%;
    }
  }
}

.start-project-kind-select {
  label.btn {
    width: 100%;
    height: 48px;
    left: 562px;
    top: 209px;

    background: var(--white);
    border: 1px solid var(--color-cyan) !important;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 30px rgba(61, 204, 204, 0.2);
    border-radius: 8px;
  }

  .image-wrapper {
    align-items: center;
    img {
      padding-bottom: 10px;
      width: 46px;
      height: 100%;
    }
  }
}

.workers-list-column {
  .start-project-workers-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .worker {
      margin: 0 auto;
    }

    .worker-skills {
      width: 120px;
      div {
        width: 40px;
        height: 6px;
      }
    }

    .avatar-wrapper {
      width: 32px;
      height: 32px;

      .worker-avatar {
        width: 32px;
        height: 32px;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    div.disabled {
      filter: grayscale(100%);
    }
  }
}

img.desaturate {
  transition: 0.5s;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}

.techtoggle {
  cursor: pointer;
}

.btn_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .btn {
    margin: 5px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
  }
}

//---------------------------------------------------