.creation {

  .welcome {
    .modal-body {
      background-color: rgba(0, 0, 0, 0.85);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: size(10) size(7) size(8);
    }

    .modal-footer {
      padding: 24px 0 24px 32px;
    }

    .logo {
      width: size(25);
      margin-right: size(6);
    }

    .bdc-logo {
      width: 80px;
      height: 80px;
    }

    .lead {
      color: var(--white);
      line-height: 19px;
      font-size: 15px;
    }

    .warning {
      border: 1px solid var(--color-orange);
      color: var(--color-orange);
      padding: size(2);
      border-radius: size(1);
    }

    .btn-success {
      margin-right: 56px;
      font-size: 13px;
    }
  }

  .appearance {
    height: size(85);

    .flex-container-row {
      width: 100%;
    }
    .modal-header {
      font-size: 24px;
      border-bottom: none;
      padding-bottom: size(2.5);
    }

    .modal-body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 size(7)
    }

    .modal-footer {
      padding: size(4) size(7) size(7);
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    .inputs {
      margin-top: 24px;
      h4 {
        width: 100%;
      }
    }

    .portrait {
      width: 256px;
      margin-right: 24px;
      height: 336px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 24px 32px 24px;
      border: 1px solid var(--gray-90);
      border-radius: size(4);

      .btn {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .worker-avatar {
      border-radius: size(1);
    }

    .customizator {
      width: 272px;
      min-height: size(45);
      display: flex;
      flex-flow: column nowrap;
    }

    .customizator-item {
      height: size(5);
      border-top: 1px solid var(--gray-90);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-of-type {
        border-bottom: 1px solid var(--gray-90);
      }

      h4, h5 {
        width: auto;
        margin: 0;
      }

      h4 {
          max-width: 45%;
      }

      h5 {
        letter-spacing: -2%;
      }
    }

    .customizator-controls {
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: size(24);
      flex-shrink: 0;

      h5 {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 13px;
        text-align: center;
        letter-spacing: -0.02em;
      }
    }

    .control-arrow {
      width: 24px;
      height: 24px;
      font-size: 20px;
      font-family: monospace;
      background-color: transparent;
      border: none; 
      color: var(--gray-500);
      cursor: pointer;
    }

    .player-avatar {
      width: size(25);
      height: size(25);
    }

    .gender-select {

      .btn {
        font-size: 13px;
        line-height: 2.5em;
        justify-content: center;
        width: 80px;
        height: 40px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .background { 
    height: size(85);

    .modal-header {
      border-bottom: none;
    }

    .modal-body {
      padding-top: size(4);
    }

    .modal-footer {
      padding: size(4) size(7) size(7);
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    .background-select,
    .bonus-select {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .btn-background {
      cursor: initial;
      width: size(23);
      height: size(17);
      border-radius: size(1);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: size(2) 0 size(1);

      h6 {
        padding: 8px;
      }

    }

    .background-img {
      width: size(10);
      border-radius: size(1);
    }

    .bonus-img {
      width: size(5);
    }

  }

  .epoch {
    height: size(85);

    .modal-header {
      border-bottom: none;
    }

    .modal-body {
      padding-top: size(4);
    }

    .modal-footer {
      padding: size(4) size(7) size(7);
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    .epoch-select {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .btn-epoch {
      width: size(14);
      height: 100%;
      border-radius: size(1);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: size(2) 0 size(1);

    }

    .epoch-img {
      width: size(10);
      border-radius: size(1);
    }
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      box-shadow: inset 0 0 30px rgba(61, 204, 204, 0.2);
      border: 1px solid var(--color-cyan);
    }
  }

  .partition-switch {
    height: size(5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-dot {
    width: size(1);
    height: size(1);
    border-radius: 50%;
    background-color: var(--gray-300);
    background-clip: content-box;
    box-sizing: content-box;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    padding: size(1);

    &.active {
      background-color: var(--gray-600);
    }
  }

  .next-partition, .embark {
    position: absolute;
    bottom: size(7);
    right: size(7);
  }

  .creation-description-column {
    flex: 1 1 70%;
  }

  .btn {
    margin: 0 size(0.5);
  }

  .modal-title {
    width: 100%;
    margin-bottom: size(1);
  }

  .player-name-wrapper {
    margin-right: 24px;

  }

  .player-name {
    height: 40px;
    width: 256px;
    background-color: var(--gray-100);
    border: none;
  }

  .background-description {
    margin-top: 16px;
    width: 100%;
  }

  .epoch-description {
    font-size: 13px;
    line-height: 15px;
    margin-top: 32px;

    .tech {
      width: 100%;
      margin-top: 18px;
      border: 0;

      h4 {
        width: 600px;
      }
    }
  }

  .creation-skills {
    padding-top: 16px;
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;

    .flex-container-column {
      margin-right: 47px;
    }
    .flex-container-column:last-of-type{
      margin-right: 0;
    }

    .bar-style {
      height: 16px;
      box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1), inset 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
      border-radius: 10px;
    }

    span {
      margin-right: 8px;
    }
  }

  .skills-circle  {
    font-weight: bold;
    width: 48px;
  }
}