.worker {
  --worker-avatar-size: calc(8px * 9);

  margin: size(0.5);
  margin-bottom: size(1);
  display: flex;
  flex-flow: row nowrap;
  border-radius: size(0.5);
  padding: size(1);
  transition: 0.2s ease-out;
  position: relative;
  background: linear-gradient(180deg, var(--gray-100) 0%, var(--gray-200) 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 1px var(--white);

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, var(--white) 0%, var(--gray-100) 100%);
  }

  &.vacation {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: size(0.5);
      width: 100%;
      height: 100%;
      background-color: var(--color-pink);
      opacity: 0.3;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "vacation";
      text-transform: uppercase;
      font-size: size(2);
      color: var(--white);
      font-weight: 700;
      letter-spacing: 3px;
      transform: rotate(-30deg);
      top: 30px;
      left: 33%;
      z-index: 1;
      text-shadow: 0px 0px 16px var(--color-pink), 0px 0px 12px var(--color-pink), 0px 0px 8px var(--color-pink), 0px 0px 4px var(--color-pink);
    }
  }

  .worker-info {
    width: 100%;
    //margin-left: size(1);
  }


  .card-header {
    padding: 0;
    border-bottom: none;
    margin-bottom: size(0.5);
  }

  .worker-name {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: size(1.5);
    font-weight: 500;
    margin: 0;
  }

  .card-body {
    padding: 0;
  }

  .worker-avatar {
    width: var(--worker-avatar-size);
    height: var(--worker-avatar-size);
  }

  .worker-stats {
    overflow: hidden;
  }

  .worker-skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: size(0.5);

    .progress-bar-name {
      font-size: 0;
      margin-bottom: 0;
    }

    .progress-bar {
      border-radius: 10px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), inset 0px 4px 8px rgba(255, 255, 255, 0.3), inset 0px -2px 4px rgba(0, 0, 0, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
