
.modal-backdrop {
  z-index: 42 !important;
  background-color: rgba(0, 0, 0, 0.66);
  margin: 0 auto;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: visible;

  .modal-dialog {
    width: size(85);
    max-width: size(85);
    max-height: 670px;
    overflow: visible;
    pointer-events: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 4.5px;
  }

  .modal-message {
    margin-left: 64px;
    margin-top: 32px;
    padding-right: 32px;
    color: #000000;
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .message {
      font-size: 13px;
      line-height: 15px;
      white-space: pre-wrap
    }
  }

  .modal-content {
    position: relative;
    background-color: transparent;

    .modal-elements {
      position: absolute;
      z-index: 42;
      width: 100%;
    }
    .icon {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 32px;
      height: 32px;
    }
    .type {
      position: absolute;
      top: 12px;
      left: 50px;
      font-size: 10px;
      color: white;
      font-weight: bold;
    }
    .favorite {
      position: absolute;
      top: 8px;
      right: 45px;
      cursor: pointer;
      opacity: 0.6;
      transition: 0.2s linear;
      &:hover{
        opacity: 1;
      }
    }
    .date{
      position: absolute;
      top: 12px;
      right: 75px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      margin: 0;
      z-index: 1;
    }
    .close-icon {
      position: absolute;
      top: 8px;
      right: 16px;
      line-height: 0.5;
      font-size: 2.5rem;
      font-weight: 300;
      opacity: 0.6;
      margin: 0;
      z-index: 1;
      transition: 0.2s linear;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .close-modal {
      position: absolute;
      top: 16px;
      right: 16px;
      line-height: 0.5;
      font-size: 2.5rem;
      font-weight: 300;
      opacity: 0.6;
      margin: 0;
      z-index: 1;
      transition: 0.2s linear;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  .modal-header {
    //padding: size(4) size(4) size(2);
    // justify-content: flex-start;
  }

  .modal-body {
    padding-top: 0;
  }

  .progress {
    height: size(3);
    width: 65%;
    margin-bottom: 0;
  }

  .stats-progress-bar {
    height: size(2);
    width: 33%;

    &:not(:last-of-type) {
      margin-right: size(2);
    }

    .progress {
      height: size(2);
    }
  }
}